:root {
  --smaller: .75;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #9e9797;
  background-color: rgb(35 32 32);
  font-family: Roboto,
    "Helvetica Neue",
    sans-serif;
}
